body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/167/167707.png');
    background-color: #000000;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
    margin: 0 0 10px;
  }
  
  .nota {
    color: #ffffff;
    margin: 0 0 10px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* Elementos de classe "campo" */
.campo {
  color: #ffffff;
  margin: 0 0 10px;
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
  margin-bottom: 0,4em;
  color: #ffffff;
  display: block;
}